# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment variables
.env
*.env

# VS Code
.vscode/

# Logs
*.log

# Database (if using SQLite)
*.sqlite3
db.sqlite3

# OS-specific files
.DS_Store
Thumbs.db
